<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\AsynchronousOperationsRedis\Api\RedisEntityRepositoryInterface" type="Magento\AsynchronousOperationsRedis\Model\Repository\Entity" />
    <type name="Magento\AsynchronousOperationsRedis\Model\EntitiesPool">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="bulkSummary" xsi:type="array">
                    <item name="interface" xsi:type="string">Magento\AsynchronousOperations\Api\Data\BulkSummaryInterface</item>
                    <item name="type" xsi:type="const">Magento\AsynchronousOperationsRedis\Api\RedisIdentityInterface::TYPE_HASH</item>
                    <item name="identifierGenerator" xsi:type="object">Magento\AsynchronousOperationsRedis\KeyManager\Key\Identifier\BulkId\Proxy</item>
                </item>
                <item name="operations" xsi:type="array">
                    <item name="interface" xsi:type="string">Magento\AsynchronousOperations\Api\Data\OperationInterface</item>
                    <item name="type" xsi:type="const">Magento\AsynchronousOperationsRedis\Api\RedisIdentityInterface::TYPE_HASH</item>
                    <item name="identifierGenerator" xsi:type="object">Magento\AsynchronousOperationsRedis\KeyManager\Key\Identifier\RequestId\Proxy</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
